  
<app-header></app-header>

<ion-content class="ion-no-padding" fullscreen>
    <ion-row class="profile-background">
    </ion-row>

    <div>
        <ion-fab horizontal="center" vertical="center" style="margin-left: -50px;">
            <ion-fab-button color="light" style="width: 100px; height: 100px;">
                <ion-avatar style="width: 100px; height: 100px;">
                    <ion-img src="assets/images/alfredo_uribe.jpg"></ion-img>
                </ion-avatar>
            </ion-fab-button>
            <ion-fab-list side="end">
                <ion-fab-button color="dark" href="https://twitter.com/alfred_uribe" target="_blank">
                    <ion-icon name="logo-twitter"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
            <ion-fab-list side="bottom">
                <ion-fab-button color="secondary" href="https://www.facebook.com/alfredouribedeveloper/" target="_blank">
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
            <ion-fab-list side="start">
                <ion-fab-button color="light" href="http://google.com">
                    <ion-icon name="logo-google-playstore"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
            <ion-fab-list side="top">
                <ion-fab-button color="primary"  href="https://www.linkedin.com/in/francisco-alfredo-uribe-s%C3%A1nchez-40a748b7/" target="_blank">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab> 
    
        <ion-row class="profile-info">
            <ion-col size="12" class="ion-text-center">
    
    
                <h1>Alfredo Uribe</h1>
                <h2 style="margin-top: -5px">Fullstack Web Developer</h2>
                
            </ion-col>
    
            <ion-col size="12" style="margin-top: 200px">
                <ion-item>
                    <ion-icon name="call-outline" slot="start"></ion-icon>
                    <ion-label>
                        +52 4432373943
                    </ion-label>
                </ion-item>
            </ion-col>
    
            <ion-col size="12">
                <ion-item>
                    <ion-icon name="at-outline" slot="start"></ion-icon>
                    <ion-label>
                        alfredo.uribe.sanchez@gmail.com
                    </ion-label>
                </ion-item>
            </ion-col>
    
            <ion-col size="12">
                <ion-item href="https://alfredouribe.com/" target="_blank">
                    <ion-icon name="globe-outline" slot="start"></ion-icon>
                    <ion-label>
                        Website
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>

    
</ion-content>
